body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  overflow: hidden;
}

.custom-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  color: white;
  text-align: center;
  transition: all 0.35s ease;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.card-icon {
  font-size: 40px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.tech-list i {
  margin-right: 8px;
  color: #ffc107;
}


.custom-card p {
    text-align: justify;
}