<div class="custom-select-shell" (click)="$event.stopPropagation()">
  <button
    type="button"
    class="custom-select-trigger"
    [class.custom-select-open]="isOpen"
    [disabled]="disabled"
    (click)="toggleDropdown()"
  >
    <span class="custom-select-value" [class.custom-select-placeholder]="!value">
      {{ selectedLabel }}
    </span>
    <span class="custom-select-arrow" [class.custom-select-arrow-open]="isOpen"></span>
  </button>

  <div class="custom-select-menu" *ngIf="isOpen">
    <button
      type="button"
      class="custom-select-option"
      *ngFor="let option of options"
      [class.custom-select-option-selected]="option.value === value"
      (click)="selectOption(option.value)"
    >
      {{ option.label }}
    </button>
  </div>
</div>
